[notification]
command_received = false
research_completed = false
implementation_task_created = false
implementer_started = false
tester_started = false
review_started = false
review_approved = false
review_requested_changes = false
workflow_completed = false
question_opened = false

[discord]
enable = false
